.top-header {
	color:blueviolet;
	background: rgb(233, 180, 209);
}

.section-header {
color:blue;
}

.article-header {
	color: crimson;
}

.nav-header {
color:greenyellow;
background: rgb(178, 224, 224);
}

section {
	background: #c4dfcd;
}

footer {
	color: aliceblue;
	background: dimgrey;
}

img {
	width: 100%;
}