.top-header {
	color: blueviolet;
	background: rgb(233, 180, 209);
}

.section-header {
	color: blue;
}

.article-header {
	color: crimson;
}

.nav-header {
	color: greenyellow;
	background: rgb(178, 224, 224);
}

section {
	background: #c4dfcd;
}

footer {
	color: aliceblue;
	background: dimgrey;
}

.main-picture {
	width: 300px;
}

img {
	max-width: 400px;
	display: block;
	margin-left: 10%;
}

.books-article {
	display: inline-block;
	padding: 20px;
	border: 10px;
}

.notes-article {
	display: block;
	padding: 20px;
	border: 10px;
}

body {
	margin-left: 50px;
	margin-right: 50px;
}