html {
	box-sizing: border-box;
}

*,
*:before,
*:after {
	box-sizing: inherit;
}

.top-header {
	color: blueviolet;
	background: rgb(233, 180, 209);
}

.section {
	background: darkseagreen;
	padding-left: 16px;
}

.section__header {
	color: blue;
}

.article__header {
	color: crimson;
}

.navigation {
	background: gray;
	padding: 16px;
}

.navigation__link {
	color: lemonchiffon;
}


footer {
	color: aliceblue;
	background: dimgrey;
}

.section__picture {
	max-width: 300px;
	display: block;
	position: static;
	margin: auto;
}

.books-article {
	display: inline-block;
	padding: 10px;
	border: 2px;
	margin: 5px;
	border-radius: 16px;
	border-style: solid;
	border-color: black;
	color: blue;
	background: yellow;
}

.books-article__header {
	color: red;
}

.books-article__content {
	padding-left: 10px;
}

.notes-article {
	display: block;
	padding: 20px;
	border: 3px;
	margin: 16px;
	border-color: black;
	border-style: solid;
	background: beige;
}

.notes-article__header {
	color: crimson;
}

.notes-article__content {
	color: blueviolet;
}